/* Animation for a simple fading effect */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Base unit */
html {
  font-size: 1rem;
}

body {
  padding-top: 1rem;
  font-family: "Montserrat", arial, sans-serif;
}

body .slider-container {
  padding: 1.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 23.75rem;
  margin-left: 2rem;
}

body .slider-container .slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15.625rem;
  padding: 0;
  margin: 0;
}

body .slider-container .slider-list .active {
  -webkit-animation: fadeIn 0.85s ease-in-out;
          animation: fadeIn 0.85s ease-in-out;
  display: inherit;
}

body .slider-container .slider-list .hidden {
  display: none !important;
}

body .slider-container .slider-list .slider-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .slider-container .slider-list .slider-slide .picture {
  max-width: 100%;
}

body .autor {
  font-family: "Mali", cursive;
  margin-top: 4.375rem;
  display: inline-block;
}

.slider-controlls {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.slider-controlls .controlls-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.slider-controlls .controlls-list .prev,
.slider-controlls .controlls-list .next {
  text-decoration: none;
  color: black;
}

.slider-controlls .controlls-list .prev:hover,
.slider-controlls .controlls-list .next:hover {
  color: tomato;
}

@media screen and (max-width: 1024px) {
  .slider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto !important;
    padding: 0;
    max-width: 70% !important;
  }
  .slider-container .slider-list {
    width: 80%;
  }
  .slider-container .slider-list .slider-slide {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media screen and (max-width: 640px) {
  .slider-container .slider-list {
    width: 80%;
    margin: 0 auto !important;
  }
  .slider-container .slider-list .slider-slide {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}
/*# sourceMappingURL=main.css.map */